{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="ftco-section">
    <select name="category" id="category">
        <option value="Technology">Technology</option>
        <option value="Coding">Coding</option>
        <option value="Inspiration">Inspiration</option>
    </select>
    <br><br>

    <div class="post-editor">
        <p class="lable-editor">Thumbnail:</p>
        <div id="thumbnail-editor">
        </div>

        <h6 style="color: blue;">Englist version</h6>
        <p class="lable-editor">Title:</p>
        <div id="title-editor">
            <textarea id="post-title"></textarea>
        </div>

        <p class="lable-editor">Content:</p>
        <div id="content-editor">
        </div>
        <br>
    </div>
    <br>
    <button type="Submit" onclick="createPost()">Submit</button>
</section>
{% endblock %}