{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="changepassword-form">
    <form method="post">
      <h2>{% trans "Change Password" %}</h2>
        {% csrf_token %}
        {% if error %}
            <p style="color: red;">{{error}}</p>
        {% endif %}
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey; margin-top: 1rem;">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
      <input type="hidden" value="{% if request.REQUEST.next %}{{ request.REQUEST.next }}{% else %}{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER}}{% else %}/{% endif %}{% endif %}" name="next" />
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">{% trans "Change Password" %}</button>
      </div>
    </form>
  </div>
{% endblock %}