{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="row">
<aside class="col-sm-4">
</aside> <!-- col.// -->
<aside class="col-sm-4">
<h2>{% trans "Change Password" %}</h2>
<div class="card">
{% if validlink %}
<article class="card-body">
<form method="post">
{% csrf_token %}
{% for field in form %}
<p>
{{ field.label_tag }}<br>
{{ field }}
{% for error in field.errors %}
<p style="color: red">{{ error }}</p>
{% endfor %}
</p>
{% endfor %}
<button type="submit">{% trans "Change Password" %}</button>
</form>
</article>
{% else %}
<article class="card-body">
<p>
{% trans "The password reset link was invalid, possibly because it has already been used" %}.
{% trans "Please request a new password reset" %}.
</p>
</article>
{% endif %}
</div>
</aside>
<aside class="col-sm-4">
</aside> <!-- col.// -->
</div>
{% endblock %}