{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% block content %}
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 ftco-animate fadeInUp ftco-animated">
                <div class="left-sidebar post-actions d-flex flex-column align-items-center mx-auto">
                    <div class="subscribe mb-2">
                        <a id="like-button" onclick="like()" href="javascript:avoid">
                            {% if post.is_liked %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                        </a>
                        <span id="like-count" style="margin:auto;">{{post.total_like}}</span>
                    </div>
                    <div class="subscribe mb-2">
                        <a title="Something" onclick="copyURL()" href="javascipt:avoid"
                            class="el-button post-actions__clip el-button--default"><i class="fa fa-paperclip"></i></a>
                    </div>
                    <div class="subscribe mb-2">
                        <a title="Something" href="javascipt:avoid"
                            class="el-button post-actions__clip el-button--default"><i class="far fa-comments"></i></a><span id="comments_count"  style="margin:auto;"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 ftco-animate">
                <p class="mb-5">
                    <img src="{{post.thumbnail}}" alt="" class="img-fluid">
                </p>
                <p id="post_id" hidden>{{ post.id }}</p>
                <h2>{{post.title|safe}}</h2>
                {{post.content|replace_quotes|safe}}
                <div class="pt-5 mt-5" id="commentContainer">
                    <h3 class="mb-5"><span id="comments_count"></span> {% trans "Comments" %}</h3>
                    <ul class="comment-list" id="commentList">
                    </ul>
                    <!-- END comment-list -->
                    <button id="viewMoreComment" class="btn" onclick="loadComment()">View more comments</button>
                    <div class="comment-form-wrap pt-5" id="leaveComment">
                        <!-- <button class="btn" data-toggle="collapse" data-target="#leaveCommentForm" ><h3>Leave a comment</h3></button>
                        <form id="leaveCommentForm" class="p-5 bg-light collapse">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name" required>
                            </div>
                            <div class="form-group">
                                <label for="message">Message *</label>
                                <textarea name="" id="message" cols="30" rows="10" class="form-control" required></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form> -->
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
                <div class="right-sidebar sidebar-box ftco-animate" id="side_bar_recents">
                    <h3>Recent Posts</h3>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .section -->

<script>
    function like() {
        var post_id = document.getElementById("post_id").innerText;

        $.ajax({
            type: "POST",
            url: "/blog/like/post/" + post_id,
            contentType: 'application/json',
            success: function (dataserver, status, xhr) {
                if (dataserver.like) {
                    document.getElementById("like-button").innerHTML = '<i class="fas fa-thumbs-up"></i>';
                    count = document.getElementById("like-count").innerText
                    count = Number(count) + 1
                    document.getElementById("like-count").innerText = count
                }
                else if (!dataserver.like) {
                    document.getElementById("like-button").innerHTML = '<i class="far fa-thumbs-up"></i>';
                    count = document.getElementById("like-count").innerText
                    count = Number(count) - 1
                    document.getElementById("like-count").innerText = count
                }

            }
        });
    }

document.querySelector("#ftco-navbar").style.position = ''

</script>
{% endblock %}