{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
<style type="text/css">
    .post {
        padding: 1rem 0;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 360px auto auto;
        grid-template-areas:
            "img title title"
            "img xcontent xcontent";
        color: #444;
    }
</style>
<h2 style="text-align: center; margin-top: 3rem;">Results</h3>
<section class="ftco-section">
    {% if not_found %}
    <h3>Not Found "{{keyword|replace_plus}}"</h3>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in data %}
                <div class="post" style="display:grid;">
                    <a style="grid-area: img;" href="">
                        <img style="background-image: url(' {{post.thumbnail|safe}} '); background-position: center; background-size: cover; height: 100%; width: 100%;">
                    </a>
                    <a style="grid-area: title;" href="{% url 'post' id=post.id %}">
                        <h4 class="post-title">{{post.title|replace_quotes|safe}}</h4>
                    </a>
                    <div style="grid-area: xcontent;">{{ post.content|replace_quotes|safe|linebreaks }}</div>
                </div>
                <hr>
                {%endfor%}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        {% if nav_bar.0 != 0%}
                        <li><a href="{% url 'search' page=nav_bar.0 %}?keyword{{keyword}}">&lt;&lt;</a></li>
                        {% endif %}
                        {% for i in nav_bar.1 %}
                        {% if i == page %}
                        <li class="active"><span>{{ i }}</span></li>
                        {% else %}
                        <li><a href="{% url 'search' page=i %}?keyword{{keyword}}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if nav_bar.2 != 0%}
                        <li><a href="{% url 'search' page=nav_bar.2 %}?keyword{{keyword}}">&gt;&gt;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
<script type="text/javascript">
document.querySelector("#ftco-navbar").style.position = 'inherit'
</script>
{% endblock %}