{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="ftco-section">
    <select name="category" id="category">
        <option value="Technology">Technology</option>
        <option value="Coding" {% if post.category == "Coding" %} selected= "selected" {% endif %}>Coding</option>
        <option value="Inpriration">Inpriration</option>
    </select>
    <br><br>
    <div class="post-editor">
        <p id="post-id" hidden>{{ post.id }}</p>
        
        <p class="lable-editor">Thumbnail:</p>
        <div id="thumbnail-editor">
           {{post.thumbnail|safe}}
        </div>

        <h6 style="color: blue;">Englist version</h6>
        <p class="lable-editor">Title:</p>
        <div id="title-editor">
            <textarea id="post-title">{{post.title|safe}}</textarea>
        </div>

        <p class="lable-editor">Content:</p>
        <div id="content-editor">
        {{post.content|safe}}
        </div>
        <br>

        <h6 style="color: blue;">Vietnamese version</h6>
        <p class="lable-editor">Title:</p>
        <div id="title-vn-editor">
            <textarea id="post-title-vn">{{post.title_vn|safe}}</textarea>     
        </div>

        <p class="lable-editor">Content:</p>
        <div id="content-vn-editor">
        {{post.content_vn|safe}}
        </div>
    </div>
    <br>
    <button type="button" onclick="updatePost()">Submit</button>
    <button type="button" onclick="test()">test</button>
</section>
<script>
    let title_editor
    let content_editor
    let title_vn_editor
    let content_vn_editor
    function updatePost() {
        let category = document.getElementById("category").value
        let title = document.getElementById("post-title").value
        let content = content_editor.getData();
        let title_vn = document.getElementById("post-title-vn").value
        let content_vn = content_vn_editor.getData();
        let thumbnail = thumbnail_editor.getData();
        let re = /src=(\"|\')(.*)(\"|\')/g
        thumbnail = re.exec(thumbnail)[2]
        let dataString = '{ "category":"' + category + '",' +
            '"title":"' + standardize_request(title) + '",' +
            '"content":"' + standardize_request(content) + '",' +
            '"title_vn":"' + standardize_request(title_vn) + '",' +
            '"content_vn":"' + standardize_request(content_vn) + '",' +
            '"thumbnail":"' + standardize_request(thumbnail) + '"' +
            '}';

        let id = document.getElementById("post-id").innerHTML;
        let url = "/en/blog/admin/post/update/" + id;

        $.ajax({
            type: "POST",
            url: url,
            contentType: 'application/json',
            data: dataString,
            success: function (dataserver) {
                console.log(dataserver)
            }
        });
    };
    InlineEditor
        .create(document.querySelector('#content-editor'), {
            toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'code', 'codeBlock', "imageInsert",],
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
            ]
        }
        })
        .then(newEditor => {
            content_editor = newEditor;
        })
        .catch(error => {
            console.error(error);
        });

    InlineEditor
        .create(document.querySelector('#content-vn-editor'), {
            toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'code', 'codeBlock', "imageInsert",],
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
            ]
        }
        })
        .then(newEditor => {
            content_vn_editor = newEditor;
        })
        .catch(error => {
            console.error(error);
        });

        function test () {
            x = Array.from( content_editor.ui.componentFactory.names() );
            console.log(x);
        };

    InlineEditor
        .create(document.querySelector('#thumbnail-editor'), {
            toolbar: ["imageInsert"],
        })
        .then(newEditor => {
            thumbnail_editor = newEditor;
        })
        .catch(error => {
            console.error(error);
        });
</script>
{% endblock %}